
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

 
@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-gradient-to-l from-slate-100 via-gray-50 to-slate-100 dark:bg-gradient-to-r dark:from-[#180c49]  dark:via-fuchsia-950 dark:to-[#180c49] min-h-screen;
  }
}

@layer components{
  .flex-between {
      @apply flex items-center justify-between;
  }

  .common-container {
    @apply flex flex-col justify-center items-center gap-10 overflow-scroll  py-4 md:py-10 px-1  custom-scrollbar;
  }

  .icon {
    @apply dark:text-fuchsia-100 text-slate-500 hover:text-slate-700 dark:hover:text-fuchsia-400
  }

  .text {
    @apply dark:text-slate-950 text-cyan-950
  }

  .logo {
    @apply text-4xl bg-gradient-to-l from-fuchsia-700 via-cyan-600 via-65% to-cyan-500 uppercase bg-clip-text text-transparent p-2 font-bold tracking-wide transition duration-300 ease-in-out hover:animate-ping
  }
  
  .grid-container {
    @apply w-full px-4 lg:px-20 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4;
  }
  
  .shad-input {
    @apply h-12 bg-gray-100 dark:bg-fuchsia-200 p-1 rounded-xl border border-slate-600 dark:placeholder:text-cyan-100 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-cyan-500 !important;
  }
  
  .shad-textarea {
    @apply h-36  bg-gray-100 dark:bg-fuchsia-200 rounded-xl border border-slate-600 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-cyan-500 !important;
  }
  
  .shad-button_primary {
    @apply bg-gradient-to-l from-slate-50 to-gray-300 border border-slate-600 dark:bg-gradient-to-r dark:from-fuchsia-50 dark:to-fuchsia-300 hover:bg-cyan-600 font-bold text-cyan-950 text-sm uppercase flex-center h-8 rounded-xl shadow-xl flex gap-2 !important;
  }
  
  .shad-form_label {
    @apply text-cyan-950 text-xs uppercase font-semibold dark:text-fuchsia-50 !important;
  }
  
  .shad-button_ghost {
    @apply flex gap-1 items-center justify-start hover:bg-transparent hover:text-white !important;
  }
};
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
  
  .flex-between {
    @apply flex justify-between items-center;
  }
  
  .flex-start {
    @apply flex justify-start items-center;
  }